@if (Request.IsAuthenticated) {   
      
  <div class="m-btn-group">
  <a href="/lobby" class="m-btn black rnd"><i class="icon-cog icon-white"></i>  @User.Identity.Name</a>
  <a class="m-btn black dropdown-carrettoggle" data-toggle="dropdown" href="#">
    <span class="caret white"></span>
  </a>
  <ul class="m-dropdown-menu">
      <li><a href="#"><i class="icon-user"></i> Edit Profile</a></li>
      <li>
          <a href="/Account/Manage">
              <i class='icon-th-list'></i> Change Password               
          </a>
      </li>
      <li>
          @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                    <a  href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-off"></i> Log off</a>
                }
      </li>
  </ul>
</div>
} 
